 *{
        margin: 0;
        padding: 0;
  }
  body,html{
        background-color: white;
        font-size: 16px;
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
  }     

/* Header styling  */

      .header{
        background: linear-gradient(to right, #0b161d, #1a2c34, #223844);
        box-shadow: 0 10px 100px rgb(0, 0, 0);
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
      }
      .header h1,h2{
       margin: 2%;
      }
      .header h2{
       cursor: pointer;
      }
      .header h2:hover{
       transform: scale(1.1);
       transition: all 0.5s ease-in-out;
      }
      
/*  Main section styling  */

      .main-section{
        height: 130vh;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2%;
        padding-bottom: 5rem;

      }

 /*  Footer styling  */
      footer{
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        box-shadow: 0 0 5px black;
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        text-align: center;
        padding: 1%;
        font-size: 2rem;

      }
      footer a{
        text-decoration: none;
        font-size: 2rem;
        color: #fff;
      }
      footer a i{
        padding-top: 1.5rem;
        color: #fff;
      }
      footer a i:hover{
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
      }
      /* footer .github{
        color: black;
      }
       footer .insta{
        color: rgb(249, 9, 9);
      }
      footer .linkedin{
        color: blue;
      } */
      footer p{
        font-size: 1rem;
        margin: 1rem;
        color: #fff;
      }
      footer{
        color: #fff;
      }

@media screen and (max-width: 835px){
  .header{
        padding: 0.25rem;
        height: 5rem;
      }
        /* Main Section  */
       .main-section{
        width: 100vw;
        height: 228vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 5%;
       
      }
       /* footer */
      footer{
        grid-column: 1;
        grid-row: 5 / 6;
       
      }
      footer a i{ 
        padding-top: 1.5rem;
      }
}