    /*  Dark mode styling */
    .dark-mode {
    background-color: #121212;
    color: white;
    }
    .dark-mode .header{
      background: linear-gradient(to right, #0f2027, #2c5364); /* fully black */

    }
     .dark-mode footer{
      background: linear-gradient(to right, #0f2027, #2c5364); /* fully black */
     
    }

    .dark-mode .weather-box,
    .dark-mode .calculator-box,
    .dark-mode .to-do-box,
    .dark-mode .note-box {
    filter: brightness(0.9);
    }
    .dark-mode .main-section{
      background: linear-gradient(to bottom right, #1a1a40, #2b2b6f, #3a0ca3);
      color: white;
    }
    .dark-mode footer a i{
    color: white;
    }
    .dark-mode .date-box p{
    color: white;
    }
    .dark-mode .weather p{
    color: white;
    }