/* Dark mode base styling */
.dark-mode {
  background: linear-gradient(to right, #0b161d, #1a2c34, #223844);
  color: white;

}

/* Header & Footer */
.dark-mode header,
.dark-mode footer {
    background: #0b161d;
    box-shadow: 0 10px 50px white;
}

.dark-mode .main-section {
  
  background: linear-gradient(to right, #0b161d, #1a2c34, #223844);
}
/* Weather box */
.dark-mode .weather-box {
  filter: brightness(1.0);
  background: linear-gradient(to right, #0b161d, #1a2c34, #223844);
}

/* Footer links, text, etc. */
.dark-mode footer a i,
.dark-mode .date-box p,
.dark-mode .weather p
{
  color: white;
}
.dark-mode .expense-info div,
.dark-mode .calculator-container h1,
.dark-mode .notes-container h2,
.dark-mode .note-card p {
  color: black;
}


/* Containers hover effect */
.dark-mode .calculator-container:hover,
.dark-mode .notes-container:hover,
.dark-mode .expense-container:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

