.expense-container {
  background-color: rgb(202, 201, 201);
}
.total-expense {
  width: 90%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 160, 0);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}
.total-expense .span1 {
  font-size: 1rem;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  color: #fff;
}
.total-expense .span2 {
  font-size: 2rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
#expense-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
#expense-form input {
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
  outline: 1px solid grey;
  border: none;
}
#expense-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#expense-form div input {
  margin: 0.5rem 1rem;
  border: none;
}
.expense-add {
  width: 90%;
  background-color: rgb(0,0,255);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-family: "Michroma", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-add:hover,
.delete-btn:hover {
  background-color: rgb(0,0,230);
  transform: translatey(-2px);
  transition: all 0.1s ease-in-out;
}
.expense-items {
  width: 90%;
  height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}
.expense-items #default-para{
  font-size: 1.5rem;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  margin: 0.5rem;
}
.expense-items .material-symbols-outlined{
  font-size: 3rem;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}
.expense-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 0.5rem 0rem;
  box-sizing: border-box;
  border: 1px solid grey;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
}
.expense-info .div1 #p1 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.expense-info .div1 #p2 {
  font-size: 0.8rem;
}
.expense-info .div2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.expense-info .div2 p {
 margin: 0 0.5rem;
}
.expense-info .div2 .delete-btn {
  background-color: rgb(255, 50, 0);
  border-radius: 0.5rem;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.expense-info .div2 .delete-btn:hover {
  background-color: 
  rgb(255, 0, 0);
}
@media screen and (max-width:485px){
  .expense-container{
    width: 95%;
    height: 540px;
    max-width: 380px;
    max-height: 540px;
  }
}